<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Login</title>
    <link rel="stylesheet" href="../../css/login.css" />
    <link rel="stylesheet" href="../../css/reset.css" />
  </head>
  <body>
    <!-- Loader -->
    <div id="loader">
      <div class="loader">
        <span class="loader-page"></span>
      </div>
    </div>

    <div class="ornamen1">
      <img src="../../img/bulat login1.png" alt="" />
    </div>
    <div class="ornamen2">
      <img src="../../img/bulat login2.png" alt="" />
    </div>
    <div class="title">
      <img src="../../img/logo1.png" alt="logo lms goweb" />
      <p>Selamat Datang di LMS</p>
    </div>
    <div class="container">
      <div class="title-content">
        <p>Sign In</p>
        <div class="garis"></div>
        <p>Software Sekolah by PT. Arfin Goweb Indonesia</p>
      </div>
      <div class="form">
        <form action="/">
          <p for="">Username</p>
          <input type="text" name="username" placeholder="Input your username..." />
          <p for="">Password</p>
          <input type="text" name="username" placeholder="Input your password..." />
        </form>
        <div class="btn">
          <button type="submit" onclick="window.location.href='../Dashboard/'">Login</button>
        </div>
        <div class="footer">
          <p>www.gowebindonesia.co.id</p>
        </div>
      </div>
    </div>

    <script src="../../script/script.js"></script>
  </body>
</html>
