<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/myprofile.css" />
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </head>
  <body>
    <div class="header">
      <p>My Profile</p>
    </div>
    <div class="content">
      <div class="sub-content">
        <img src="../../img/people 1.png" alt="" />
        <p>ADIB IBRA MAULANA</p>
        <div class="kelas">
          <p>Kelas X-PK</p>
          <p>Kelas XI-PK</p>
          <p class="active">Kelas XII-PK</p>
        </div>
      </div>
    </div>
    <div class="content2">
      <div class="jenis">
        <iconify-icon icon="solar:user-circle-bold-duotone"></iconify-icon>
        <p>Laki-laki</p>
      </div>
      <div class="alamat">
        <iconify-icon icon="fa6-solid:location-dot"></iconify-icon>
        <p>Jl.Kalimantan No.3 Caruban, Kecamatan Mejayan, Madiun</p>
      </div>
      <div class="jenis">
        <iconify-icon icon="ic:round-email"></iconify-icon>
        <p>NIS 11283</p>
      </div>
    </div>

    <div class="content3">
      <div class="item">
        <p>Edit Profile</p>
        <iconify-icon icon="ep:arrow-right-bold"></iconify-icon>
      </div>
      <div class="garis"></div>
      <div class="item2">
        <p>Log Out</p>
        <iconify-icon icon="ep:arrow-right-bold"></iconify-icon>
      </div>
    </div>
  </body>
</html>
